*, *::before, *::after {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Arial";
}

/* Top section: Page title and buttons */
.top-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px grey solid;
}

.top-user {
  /* Space out register and login link */
  display: flex;
  align-items: center;
  flex-direction: column;  
}
.top-user > a {
  margin: 1rem;
}

button {
  padding: 20px;
}

/* Main content */
.content {
  border: 1px black solid;
  margin: 2rem;
}

.content-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.register-card, .login-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}

/* .project_title, .project_details {
  display: flex
} */

.register-succesful {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 2.5rem;
  color: white;
  background-color: blue;

}