*, *::before, *::after {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Roboto Condensed', sans-serif;
}

/* Top section: Page title and buttons */
nav {
  margin: 1rem;
}

nav > a, a:visited{
  color: black;
  text-decoration: none;
}

nav > a, a:hover{
  color: grey;
  text-decoration: none;
}

.top-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px grey solid;
}

.branding {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top-user {
  /* Space out register and login link */
  display: flex;
  align-items: center;
  flex-direction: column;  
}
.top-user > a {
  margin: 1rem;
}

button {
  padding: 10px;
}

/* Main content */
.content {
  margin: 2rem;
}

table {
  font-family: arial, sans-serif;
  border-collapse: separate;
  width: 100%;
  border:solid black 1px;
  border-radius:6px;
}

td, th {
  border-left:solid black 1px;
  border-top:solid black 1px;
  text-align: left;
  padding: 8px;
}

th {
  border-top: none;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

td:first-child, th:first-child {
  border-left: none;
}

.content-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.project_details > ul {
  list-style-type: none;
}

.register-card, .login-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}

.register-succesful {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 2.5rem;
  color: white;
  background-color: blue;
}

